/* ArchivePage.css */

.archive-page {
  padding: 20px;
  margin-left: 200px; /* Adjust based on your sidebar width */
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  flex-grow: 1; /* Input field takes up the maximum space */
  margin-right: 10px; /* Space between input field and button */
}

.search-bar button {
  padding: 10px;
  background-color: #4CAF50; /* Button color */
  color: white; /* Text color */
  border: none;
  cursor: pointer;
}

.archive-section {
  margin-bottom: 20px;
}

.archive-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.archive-item {
  flex: 0 1 calc(20% - 10px); /* Adjust the percentage for more or fewer items per row */
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff; /* Background color for each item */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow */
}

.archive-item.selected-year {
  border-color: #4CAF50; /* Border color for selected year */
  font-weight: bold; /* Make the text for selected year bold */
}

.year-data {
  margin-top: 10px;
}

.data-entry {
  text-align: left; /* Align the entry details to the left */
  margin-bottom: 10px; /* Space between each entry */
}

.download-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none; /* Remove underline from links */
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .archive-item {
    flex: 0 1 calc(50% - 10px); /* 2 items per row on medium-sized screens */
  }
}

@media (max-width: 480px) {
  .archive-page {
    margin-left: 0;
  }

  .archive-item {
    flex: 0 1 100%; /* 1 item per row on small screens */
  }

  .search-bar {
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar button {
    margin-top: 10px; /* Space between input field and button on small screens */
    width: 100%; /* Button takes full width */
  }
}
