/* GroupsPage.css */

/* Header row background color */
.table-headers {
  background-color: gray;
}

/* Container styles */
.groups-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Button styles */
.create-button,
.delete-button,
.modify-button,
.save-changes-button { /* Added new class for Save Changes button */
  margin-top: 10px;
  padding: 20px 40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Cancel button style */
.cancel-button {
  margin-left: 10px;
  padding: 20px 40px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Cancel button style when disabled */
.cancel-button:disabled {
  background-color: #cccccc;
}


/* Disabled button styles */
.create-button:disabled,
.delete-button:disabled,
.modify-button:disabled,
.save-changes-button:disabled { /* Added styling for disabled Save Changes button */
  background-color: #cccccc;
}

/* Button group styles */
.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* Added space between buttons */
.button-group button {
  margin-left: 10px;
}

/* Table footer styles */
.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

/* Pagination button styles */
.pagination button {
  margin-right: 5px;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}

/* Container for the form and table */
.form-and-table-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

/* Main container styles */
.groups-page {
  padding: 20px;
}

/* Header styles */
.groups-page h1 {
  margin-bottom: 20px;
}

/* Table styles */
.groups-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Table header and cell styles */
.groups-table th,
.groups-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

/* Table header background color */
.groups-table th {
  background-color: #f2f2f2;
}

/* Alternate row background color */
.groups-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Row highlighting styles based on selectedIds */
.groups-table tr.selected-row {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

/* Pagination container styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* Pagination button hover styles */
.pagination button:hover {
  background-color: #007bff;
}
